.topcontainer{
    border: 1px rgb(31, 28, 42) solid;
    background-color: rgb(31, 28, 42);
    color: white;
    padding-bottom: 30px;
    text-align: center;
}
.mobile-menu-icon{
    display: none;
}
.title{
    font-size: 20px;
}
.maindiv{
    text-align: center;
    justify-content: center;
    display: flex;
}
.homeli{
    list-style: none;
    padding: 15px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
.homeul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.lists{
    
}
.homegoresume{
    text-decoration: none;
    color: white;
    background-color: rgb(31, 28, 42);
    border: 1px white solid;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
.highlight{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.resdiv{
    margin-top: 20px;
}

.item{
   
}

.profilepic{
    display: flex;
    border: 1px white solid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 360px;
    width: 360px;
    margin: 0 0px 0 100px;
}
.profilepp{
    width: 350px;
    border-radius: 50%;
}
.profilepp:hover{
    width: 360px;
    transition: all 0.5s ease-in-out;
}
@media screen and (max-width:780px) {
    .homeul{
      display: none;
    }
    .homeli{
        margin-left: -30px;
    }
    .nav-links-mobile{
        position: absolute;
        display:block;
        list-style: none;
        background-color: rgb(31, 28, 42);
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 60%;
        border: 1px black solid;
        border-radius: 15px;
        margin-left: 20% ;
        margin-right: 20%;
    }   
    a{
        color: white;
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
    }
    .highlight{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        background-color: rgb(31, 28, 42);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
    .close-style{
        width: 20px;
    }
    .menu-style{
        width: 20px;
    }
    .profilepp{
        width: 310px;
        border-radius: 50%;
    }
    .profilepic{
        display: flex;
        border: 1px white solid;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 0px 0px var(--white);
        border-radius: 50%;
        height: 320px;
        width: 320px;
        margin: 10px 0px 0 0px;
    }
    .profilepp:hover{
        width: 320px;
        transition: all 0.5s ease-in-out;
    }
}